@using FarmersDelight.Classes.FarmBuilding;
@using FarmersDelight.Classes.Sensors;

<div class="shoe-u-1-5">
    <div>
        <!--search menu-->
        <form asp-controller="Home" asp-action="Statistics" method="get">
            <input type="text" name="buildingName" class="shoe-u-1-8" />
            <input type="submit" value="@Resources.Global.Menu_Search" />
            <!--insert buttons and/or dropdown search options filter-->
        </form>
    </div>
    <div>
        <!--hierarchy-->
        <ol>
            @using ()
            @foreach (Building Building in buildinglist)//Change Building list
            {
                //Here we will have buildings listed on the search menu
                <li>
                    <a href="@Html.ActionLink(Resources.Global.Menu_Statistics.ToString() + "/" + Building.Name.ToString(),"Statistics", "Home")">@Building.Name</a>
                    <ol>
                        @foreach (Sensor Sensor in Building.Sensors)
                        {
                            //Here we will have sensor measuremens on the undermenus
                            <li><a href="@Html.ActionLink(Resources.Global.Menu_Statistics.ToString() + "/" + Building.Name.ToString() + "/" + Sensor.SensorType.Name.ToString(),"Statistics", "Home")">@Sensor.SensorType.Name</a></li>
                        }
                    </ol>
                </li>
            }
        </ol>
    </div>
</div>
<div class="shoe-u-4-5">
    <!--Content-->
</div>